* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-image: url(img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
	margin: auto;
	font-family: "Volkhov", serif;
	line-height: 1.75;
	width: 100%;
	padding:
		env(safe-area-inset-top)
		env(safe-area-inset-right)
		env(safe-area-inset-bottom)
		env(safe-area-inset-left);
}

header button {
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    background-color: #fff7f9;
    border: none;
    border-radius: 50px;
}
button a {
    text-decoration: none;
}
.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-title h2 {
    font-weight: 600;
    color: rgb(91, 72, 72);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(91, 72, 72);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus {
    border: 2px solid #666;
}
.contact-inputs::placeholder {
    color: #a9a9a9;
}
.contact button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(180deg, rgb(91, 72, 72),#fa6d86);
}
img {
    width: 100px;
    height: 120px;
    position: relative;
    top: 50px;
}
.stamp {
    width: 120px;
    height: 150px;
    position: relative;
    top: 68px;
    right: -80px;
}
@media (min-width:786px) {
  body {
    background-image: url(img/lines-8370539_1280.jpg);
    padding: 10px 60px;
  }
  .outer-container {
    background-image: url(img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
  }
}