* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
  background-image: url(img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
	margin: auto;
	font-family: "Volkhov", serif;
	line-height: 1.75;
	width: 100%;
	padding:
		env(safe-area-inset-top)
		env(safe-area-inset-right)
		env(safe-area-inset-bottom)
		env(safe-area-inset-left);
}
.off-screen-menu {
   background-color: black;
   opacity: .95; 
   height: 100vh;
   width: 100%;
   max-width: 450px;
   position:fixed;
   top: 0;
   right: -450px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 3rem;
   transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
    z-index: 1;
}
nav {
    padding: 1rem;
    display: flex;
}
.ham-menu {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;  
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #fff;
    z-index: 2;
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    background-color: #fff;
    z-index: 2;
}
.header-container {
    background: url(img/Blob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #8e518d;
}
header {
    height: 75px;

}
header img {
    width: 100px;
    height: 90px;
    margin: 10px;
    position: relative;
    bottom: 3px;
}
header a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
    text-decoration: none;
}
li {
	list-style-type: none;
	padding: 10px 20px;
}
li a {
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 1;   
}
a:hover,
a:focus {
	color: gray;
}
h1 {
    font-family: "eczar", cursive;
    font-size: 85px;
    color: #5e5d5d;
    text-align: center;
    margin: 35px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}
.hero h1 {
    font-size: 8.5vh;
    text-align: center;
    color: #f79ad3;
    font-family: "eczar", cursive;
    font-weight: 700;
    line-height: 1;
    text-shadow: 12px 7px 2px #8e518d, 0px 0px 5px black;
    margin: 50px auto;
    margin-bottom: 0;
}


.glitter-container {
  height: 45vh;
  width: auto;
  background: url(img/Glitterstars.png);
  position: relative;
}
.rotated-image1 {
  width: auto;
  height: 2vh;
  object-fit: cover;
  position: relative;
  top: 0px;
  right: 0px;
  animation: turnLeft 10s ease-in-out infinite alternate;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated-image1 img {
  height: 25vh;
  width: auto;
}

/* @keyframes turnLeft {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(5deg);
  }
} */
#glitter {
  height: 27vh;
  width: auto;
  margin: 25px auto;
  position: relative;
  top: 90px;
}
.hero {
    max-width: 100%;
    display: block;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: url(img/Blob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
/* .hero button {
    display: flow-root;
    margin: auto;
    border: none;
    border-radius: 50px;
    background: linear-gradient(180deg, #d7c0d0,#f7c7db);
    padding: 10px 20px;
    margin-top: 35px;
    margin-bottom: 15px;
    position: relative;
    top: 210px;
}
/* .hero button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 18px;
} */ 

button {
    position: relative;
    padding: 12px 35px;
    background: #f79ad3;
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    border: 3px solid #f79ad3;
    border-radius: 8px;
    box-shadow: 0 0 0 #f79ad38c;
    transition: all .3s ease-in-out;
    display: block;
    margin: auto;
    top: 230px;
}


.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #279af1);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #23b5d3);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #279af1);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #279af1);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #279af1);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #279af1);
  z-index: -5;
  transition: all .8s ease;
}

button:hover {
  background: transparent;
  color: #f79ad3;
  box-shadow: 0 0 25px #f79ad38c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #baa373);
  z-index: 2;
}

.fil0 {
  fill: #baa373;
}
.hero p {
    font-family: "Eczar", serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #5e5d5d;
    margin-bottom: 30px;
}
.hero img {
  height: 25vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.scroll-container {
  width: 100%; /* Or a specific width */
  overflow: hidden; /* Hides the overflowing text */
  white-space: nowrap; /* Prevents text from wrapping */
  position: relative; /* Needed for absolute positioning of the text */
  height: 50px; /* Example height for the banner */
  background-color: #d7c0d0; /* Example background */
}

.scrolling-text {
  position: absolute;
  top: 0;
  left: 100%; /* Start off-screen to the right */
  animation: scroll-left 150s linear infinite; /* Apply the animation */
  margin: 0; /* Remove default paragraph margin */
  line-height: 50px; /* Vertically center the text */
  color: #070600; /* Example text color */
  font-family: "eczar", cursive;
  font-size: 2vh;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Starting position (off-screen right) */
  }
  100% {
    transform: translateX(-100%); /* Ending position (off-screen left) */
  }
}


#glitter2 {
  display: flex;
  position: relative;
  top: -50px;
  right: 0px;
  height: 7vh;
}
.stars-container {
  display: block;
  margin: 30px auto;
}
#cricut {
  display: block;
  margin: auto;
  height: 20vh;
  width: auto;
}
.main-about {
    background-color: white;
    margin: 40px 30px;
    padding: 20px;
    display: flow-root;
    height: 120vh;
    border: 18px groove #f7c7db;
}
.main-about h2 {
    text-align: center;
    font-family: "Eczar", sans-serif;
    font-size: 5vw;
    color: black;
    padding-bottom: 10px;
    padding-right: 40px;
    margin: auto;
    display: flex;
}
.main-about p {
    font-family: "Eczar", sans-serif;
    color: black;
    font-size: 16px;
    max-width: 750px;
}
.main-about img {
    height: 3vh;
    width: auto;
    margin: auto;
    
} 
#glitter1 {
    height: 4vh;
    width: auto;
    position: relative;
    float: right;
}
.main-about button {
    position: relative;
    top: 0px;
}
.main-about button a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    font-size: 16px;
}
.main-about p img {
  float: left;
  margin: 5px;
  height: 200px;
}
/* img {
    width: auto;
    display: block;
    margin: 20px auto;
} */
/* .main-about {
    background: linear-gradient(rgba(223,200,220, .85), rgba(223,200,220, .65)),
					url(img/desktop-1985856_1280.jpg) center center / cover;
    height: 600px;
} */
.separator {
  background-image: url(img/Glitterseparator.png);
  background-repeat: repeat-x;
  height: 13vh;
  width: auto;
}

.gallery {
  margin: auto;
  width: auto;
}
.gallery h2 {    
    text-align: center;
    font-family: "Eczar", sans-serif;
    font-size: 5vh;
    color: black;
    margin: 35px auto;
    margin-bottom: 0px;
}
.footer {
  position: relative;
  width: 100%;
  background: #e999c4;
  min-height: 100px;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer img {
    margin: auto;
    height: 15vh;
    width: auto;
}
.social-icon,
.menu-socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  margin-top: 40px;
  flex-wrap: wrap;
  padding: 0;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.social-icon li {
    padding: 0px 5px;
}
.menu__link {
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}
/* .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
} */

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.wave-divider {
  position: relative;
  width: 100%;
  margin-top: 70px;
  line-height: 0;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px;
}

.custom-shape-divider-bottom-1756927892 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1756927892 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1756927892 .shape-fill {
    fill: #e999c4;
}

.footer p {
    display: flex;
}
.bx-heart-circle {
    align-items: baseline;
    color: black;
}
i {
    font-size: 2em;
}
.card-wrapper {
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  display: block;
  background: #fff;
  padding: 18px;
  user-select: none;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  border: 3px solid #279AF1;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}

.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.card-list .card-link .badge {
  color: #5372F0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #DDE4FF;
  margin: 16px auto;
}

.card-list .card-link .badge-designer {
  color: #B22485;
  background: #F7DFF5;
}

.card-list .card-link .badge-marketer {
  color: #B25A2B;
  background: #FFE3D2;
}

.card-list .card-link .badge-gamer {
  color: #205C20;
  background: #D6F8D6;
}

.card-list .card-link .badge-editor {
  color: #856404;
  background: #fff3cd;
}

.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #279af1;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #279af1;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: black;
  margin-top: -35px;
}

/* about page */
h2 {
  font-size: 7.5vh;
  text-align: center;
  color: #5e5d5d;
  margin: 50px 25px 0px;
}
h3 {
  text-align: center;
  color: black;
  margin: auto;
  margin-top: 40px;
  font-size: 2vh;
}
h3 img {
  height: 20px;
  width: 20px;
  align-items: baseline;
  position: relative;
  top: 8px;
}
.image-gallery img {
  border: solid #5e5d5d;
  height: 200px;
  width: 180px;
  margin: auto;
  display: block;
  margin-top: 25px;
}
.about-text {
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* menu page */
.flipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 400px;
   height: 200px;
   position: relative;
   margin: 50px auto;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flipCard .card .side {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}
.flipCard .card .back {
  background: white;
  color: black;
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
  font-family: Georgia;
  font-size: 2vh;
  text-align: center;
  line-height: 160px;
  background-color: #7e6e8a;
  border: 3px solid white;
  color: white;

}
.flipCard .card .back {
  background-color: #dbb2f9;
  border: 3px solid white;
  text-align: center;
  color: black;
  padding-top: 50px;
  font-family: Georgia;
  font-size: 2em;
}



/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  /* .card-wrapper .swiper-slide-button {
    display: none;
  } */
}
/** For mobile devices **/
@media (max-width: 767px) {
  .wave-divider svg {
    height: 50px;
  }
}

@media (min-width:786px) and (max-width:1000px) {
  body {
    background-image: url(img/lines-8370539_1280.jpg);
    padding: 10px 60px;
  }
  .outer-container {
    background-image: url(img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
  }
      header {
         max-width: 1100px;
         margin: 0;
    }
    nav {
        display: none;
	}
    .off-screen-menu {
      background: none;
        font-size: 18px;
        right: 40px;
        height: 110px;
        width: auto;
        text-transform: uppercase;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }
	ul {
        display: flex;
        margin-right: auto;
        /* gap: 40px; */
        padding: 0;
    }
    .off-screen-menu ul li a {
        color: black;
    }
    .hero {
      margin: 90px;
      height: 600px;
    }
    .main-about {
      margin: auto;
      max-width: 680px;
    }
    .main-about h2 {
      margin: 30px auto;
    }
    .main-about p {
      max-width: 500px;
      text-align: center;
      margin: auto;
      font-size: 20px;
    }
    .image-gallery {
      display: flex;
      flex-direction: row;
    }
    .flip-card-section {
      display: flex;
      flex-direction: row;
    }
}
@media (min-width:1001px) {
    body {
    background-image: url(img/lines-8370539_1280.jpg);
    padding: 10px 60px;
  }
  .outer-container {
    background-image: url(img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
  }
  header {
      max-width: 1100px;
      margin: 0;
  }
  nav {
      display: none;
}
    .off-screen-menu {
      background: none;
        font-size: 18px;
        right: 40px;
        height: 110px;
        width: auto;
        text-transform: uppercase;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }
	ul {
        display: flex;
        margin-right: auto;
        /* gap: 40px; */
        padding: 0;
    }
    .off-screen-menu ul li a {
        color: #5e5d5d;
    }
    .hero {
      height: auto;
    }
    .hero h1 {
      font-size: 120px;
    }
    .main-about {
      height: auto;
    }
    .main-about img {
      height: auto;
    }
    .main-about p {
      margin: 25px auto;
      font-size: 24px;
    }
    .main-about p img {
      height: 250px;
      margin: 10px;
    }
    .image-gallery {
      display: flex;
      flex-direction: row;
    }
    .flip-card-section {
      display: flex;
      flex-direction: row;
    }
}